{
   "extends": [
      "stylelint-config-standard-scss",
      "stylelint-config-recommended-vue/scss"
   ],
   "rules": {
      "at-rule-no-unknown": null,
      "no-descending-specificity": null,
      "font-family-no-missing-generic-family-keyword": null,
      "selector-class-pattern": null,
      "no-invalid-position-at-import-rule": null,
      "scss/no-global-function-names": null,
      "declaration-property-value-keyword-no-deprecated": null
   }
}
